body {
	font-family: var(--ff-primary);
	font-size: var(--fz-400);
	font-weight: var(--fw-400);
	color: var(--clr-neutral-500);
}

main {
	min-height: 100vh;
	display: grid;
	align-content: center;
	padding-block: 3.2rem;
}

h1,
h2 {
	color: var(--clr-primary-700);
}
