@use './variables';
@use './mixins';

:root {
	// colors
	@each $color, $shades in variables.$colors {
		@each $shade, $value in $shades {
			--clr-#{$color}-#{$shade}: #{$value};
		}
	}

	// font families
	--ff-primary: 'Space Grotesk', sans-serif;

	// font wieghts
	@each $font-weight, $value in variables.$font-weights {
		--fw-#{$font-weight}: #{$value};
	}

	// font sizes
	@each $screen, $sizes in variables.$font-sizes {
		@if $screen == small {
			@each $size, $value in $sizes {
				--fz-#{$size}: #{$value};
			}
		} @else {
			@include mixins.mq($screen) {
				@each $size, $value in $sizes {
					--fz-#{$size}: #{$value};
				}
			}
		}
	}

	// font sizes exceptions
	--fz-card-number: 1.6rem;
	--fz-confirmation-text: 1.8rem;

	@include mixins.mq(medium) {
		--fz-card-number: 2.2rem;
	}

	// border radius
	@each $radius, $value in variables.$border-radius {
		--borr-#{$radius}: #{$value};
	}

	// spacings
	@each $unit, $sizes in variables.$spacings {
		@each $size, $value in $sizes {
			--spacing-#{$unit}-#{$size}: #{$value};
		}
	}
}
