@use '../base/mixins';

.card-details {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-em-800);

	@include mixins.mq(large) {
		flex-direction: row;
		justify-content: space-between;
	}
}
