@use '../base/mixins';

.details {
	--max-width: 38rem;

	position: relative;
	perspective: 1000px;
	margin-inline: var(--spacing-em-200);
	width: min(100%, var(--max-width));

	& > [data-side='front'] {
		&.hidden {
			display: none;
		}
	}

	& > [data-side='back'] {
		&.hidden {
			display: none;
		}
	}

	@include mixins.mq(medium) {
		margin-inline: var(--spacing-rem-700);
	}
}
